<!--Video-->
<div>

  <video id="background-video" [muted]="true" autoplay loop>
    <source src="../../assets/FourSeasonsHotel/Video.mp4" type="video/mp4">

  </video>
</div>
<br>
<br>
<!--Body-->

<div class="container">

  <h2 class="Discover text-center ">Discover Four Seasons Hotels and Resorts</h2>

  <br>
  <br>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/FourSeasonsHotel/four.jpg" class=" image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/FourSeasonsHotel/four1.jpg" class="d-block image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/FourSeasonsHotel/four2.jpg" class="d-block image" alt="...">
      </div>
    </div>
  </div>
</div>
<br>
<br>


<h2 class="Discover text-center " style="font-style: normal;">THE WORLD OF FOUR SEASONS</h2>
<br>
<br>

<div class="container">
  <!-- left-->
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image1.jpg" class="images" />
      </div>

      <div class="col-lg-6 col-sm-12">
        <div>
          <br><br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images "> Welcome Back</h4>
          <br>
          <h3 class="text-center images">HOTEL STATUS DURING</h3>
          <h3 class="text-center images">COVID-19</h3>

          <hr class="hr images">
          <br>

          <p class=" text text-center images">A centralized place to find the latest <br> information about property
            <br>
            reopenings and current facility <br> availability, including any temporary <br>changes to property
            offerings.</p>
        </div>

      </div>

    </div>
    <br>
    <br>
  </div>



  <!--right-->
  <div>
    <div class="row">

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Masterdish</h4>
          <br>
          <h3 class="text-center images">CULINARY GEMS</h3>
          <H3 class="text-center images">WAITING TO BE</H3>
          <H3 class="text-center images">DISCOVERED</H3>
          <hr class="hr">
          <br>

          <p class=" text text-center images">Explore a selection of our <br> Masterdishes around the world.</p>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image2.jpg" class="images" />
      </div>
    </div>
    <br>
    <br>
  </div>

  <br>
  <br><br>
  <br>
  <!-- left-->
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image3.jpg" class="images" />
      </div>

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Four Seasons at Home Collection</h4>
          <br>
          <h3 class="text-center images">WRAP YOURSELF IN</h3>
          <h3 class="text-center images">FOUR SEASONS LUXURY</h3>
          <h3 class="text-center images ">AT HOME</h3>
          <hr class="hr">
          <br>

          <p class=" text text-center images">Enjoy our coveted mattress, bed and <BR> robes at home – without a
            check-out<BR> time, and at the click of a button.
        </div>

      </div>

    </div>
    <br>
    <br>
  </div>




  <!--right-->
  <div>
    <div class="row">

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Four Seasons Private Jet</h4>
          <br>
          <h3 class="text-center images">PREVIEW OUR NEW JET</h3>
          <h3 class="text-center images">TAKING FLIGHT 2021 </h3>

          <hr class="hr">
          <br>

          <p class=" text text-center images">Reimagined for a Four Seasons <br>experience in the sky like never
            before,<br> the new Jet offers an even more modern, <br>enriching and interactive<br> flight experience.</p>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image4.jpg" class="images" />
      </div>
    </div>
    <br>
    <br>
  </div>

  <br>
  <br>
  <br>
  <br>

  <!-- left-->
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image5.jpg" class="images" />
      </div>

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Four Seasons Private Retreats</h4>
          <br>
          <h3 class="text-center images">RENT A HOME WITH</h3>
          <h3 class="text-center images">FOUR SEASONS</h3>

          <hr class="hr">
          <br>

          <p class=" text text-center images">Our villas and homes provide the <br> perfect stage for unforgettable <br>
            moments
            that are distinctly yours, <br>featuring legendary
            Four Seasons <br>service and amenities, with all the <br>
            comforts of home.</p>
        </div>

      </div>

    </div>
    <br>
    <br>
  </div>


  <!--right-->
  <div>
    <div class="row">

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images"> Residences</h4>
          <br>
          <h3 class="text-center images">AT HOME WITH FOUR</h3>
          <h3 class="text-center images">SEASONS</h3>

          <hr class="hr">
          <br>

          <p class=" text text-center images">Explore all the joys of living with Four <br> Seasons and wake up every
            day to <br>legendary Four Seasons service and <br>world-class amenities.</p>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image6.jpg" class="images" />
      </div>
    </div>
    <br>
    <br>
  </div>

  <br>
  <br>
  <br>
  <br>

  <!-- left-->
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image7.jpg" class="images" />
      </div>

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Four Seasons Magazine</h4>
          <br>
          <h3 class="text-center images">INSPIRATION YOU CAN</h3>
          <h3 class="text-center images"> TAKE WITH YOU </h3>

          <hr class="hr">
          <br>

          <p class=" text text-center images">Discover our fascinating world of <br> luxury, travel and lifestyle
            through the<br> lens of Four Seasons Magazine, the <br>perfect inspiration for your next<br> adventure.</p>
        </div>

      </div>

    </div>
    <br>
    <br>
  </div>




  <!--right-->
  <div>
    <div class="row">

      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Extend Your Stay</h4>
          <br>
          <h3 class="text-center images">STAY LONGER TO </h3>
          <h3 class="text-center images">REPLENISH AND</h3>
          <h3 class="text-center images">RECONNECT</h3>
          <hr class="hr">
          <br>

          <p class=" text text-center images">Experience somewhere new, plus<br> unlock exclusives benefits on stays
            of<br> a month or more.</p>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/FourSeasonsHotel/image8.jpg" class="images" />
      </div>
    </div>
    <br>
    <br>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="slider container">

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        
       
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../assets/FourSeasonsHotel/slider.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>FOUR SEASONS RESORT TAMARINDO, MÉXICO – Opening Late 2021</h5>
            <p class="sliderP">Discover a hidden natural reserve in a secluded enclave on Mexico’s Pacific Coast. Feel fully connected to nature, while savouring the utmost in Four Seasons sophistication. The best of Mexico has yet to be discovered.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/FourSeasonsHotel/slider1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>FOUR SEASONS HOTEL AND RESIDENCES FORT LAUDERDALE – OPENING LATE 2021</h5>
            <p class="sliderP" >Discover a modern reflection of the classic yacht club lifestyle. With views of the Atlantic and Intracoastal, this prime beachfront address surrounds you with the youthful energy of the South Florida Riviera.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/FourSeasonsHotel/slider2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Four Seasons Hotel New Orleans</h5>
            <p class="sliderP">Bringing renewed glamour to the heart of this dynamic city, Four Seasons Hotel New Orleans is transforming a 33-storey landmark at the foot of Canal Street on the Mississippi waterfront.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/FourSeasonsHotel/slider3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Sensei Lanai, A Four Seasons Resort</h5>
            <p class="sliderP">Deep in the heart of the Pacific, an all-inclusive wellness retreat unlike any other awaits you on Hawaii’s most exclusive island. Surrounded by lush foliage, pine-covered mountains and fresh tropical breezes, we welcome you on a journey to wellbeing.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/FourSeasonsHotel/slider4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>SAN DOMENICO PALACE, TAORMINA, A FOUR SEASONS HOTEL</h5>
            <p class="sliderP">In the seaside Sicilian town of Taormina, perched high above the Ionian Sea, the legendary San Domenico Palace will soon debut as a Four Seasons experience."</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </div>
<br>
<br>

<!--Discover Our Story-->
<div>
  <div class="row">

    <div class="col-lg-6 col-sm-12">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        
        <p class="Person text text-center images"> <i class="fas fa-quote-left"></i> <BR>The reason for our success <br>is no secret. It's the <br>Golden Rule – the simple<br> idea that we should treat<br> others the way we would<br> want to be treated.<BR> <i class="fas fa-quote-right"></i></p>
        <h5 class="PersonN text-center" style="color: black;"> ISADOEE SHAEP</h5>
        <h6 class="PersonN text-center"> FOUNDER AND CHAIERMAN</h6>
        <a routerLink="/History" target="_top"  class="btn bg-light">Discover Our Story</a>  
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">
      <img src="../../assets/FourSeasonsHotel/Person.jpg" class="imagesP" />
    </div>
  </div>
  <br>
  <br>
</div>



<!--Icons-->

  <div class="container text-center">
     
      <div class="row mt-4">
         <div class="col-lg-4 col-sm-12" 
         *ngFor="let data of IconsData">
           
              <img [src]="data.img" class="icons" >
              <div class="card-body " >
                <h5 style="    color: #93805f; " class="IconsTitle">{{data.title}}</h5>
                <a routerLink="/AboutUs" class=" btn btnicon bg-light" style="margin-left: 1% ;">Read More</a>  
            </div>
  
      </div>  
      </div>
    </div>
 
    <br>
    <br>